mujoco==3.1.4
scipy
pyrallis
torch 
torchvision 
torchaudio
constants
colorama
tabulate
termcolor
matplotlib
wandb
imageio
scipy
ruckig
zmq
flask
flask_socketio
pandas
spatialmath-python
diffusers
qpsolvers
open3d
einops